@page "/factions"

@inject HttpClient Http
@inject NavigationManager Naviagate

<PageTitle>All Factions</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <h1>TI4 Factions</h1>

    <p>This page contains all of the playable factions in Twilight Imperium 4th Edition including the ones in the Prophecy of Kings Expansion.</p>
    <p>Click on a faction to learn more about it.</p>
</MudContainer>

@if (@AllFactions is null || !@AllFactions.Any())
{
    <h3>Loading...</h3>
}
else
{
    @foreach (var faction in @AllFactions)
    {
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">@faction.Name</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudItem lg="3" md="6" sm="12">
                        <img src="@faction.Icon" alt="@faction.Id" />
                    </MudItem>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.h6"><strong>Flagship: </strong>@faction.Flagship.Name</MudText>
                <MudText><strong>Starting Tech: </strong>@ListToString(faction.StartingTechnology)</MudText>
                @if (faction.HomePlanets.Count > 1)
                {
                    <MudText><strong>Home Planets : </strong>@ListToString(faction.HomePlanets)</MudText>
                }
                else
                {
                    <MudText><strong>Home Planet : </strong>@faction.HomePlanets[0]</MudText>
                }
                <MudText><strong>Commodities: </strong>@faction.Commodities</MudText>
                @if (faction.FactionPromissoryNotes.Count is 2)
                {
                    <MudText><strong>Promissory Notes: </strong>@ListToString(faction.FactionPromissoryNotes)</MudText>
                }
                else
                {
                    <MudText><strong>Promissory Note: </strong>@faction.FactionPromissoryNotes[0]</MudText>
                }
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Tertiary" @onclick="@(() => NaviagteToFactionPage(faction.Id))">Read More</MudButton>
            </MudCardActions>
        </MudCard>
        <br/>
    }
}

@code {
    protected List<FactionDTO>? AllFactions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllFactions = await Http.GetFromJsonAsync<List<FactionDTO>>("data/factions.json");
    }

    private string ListToString(List<string>? list)
    {
        return string.Join(", ", list ?? new List<string>());
    }

    private void NaviagteToFactionPage(string factionId)
    {
        Naviagate.NavigateTo($"/factions/{factionId}");
    }

}
